* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFEFE7;
  font-family: "IBM Plex Sans", sans-serif;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 30px;
  padding: 0 20px;
  color: #7C6A0A;
}
nav p {
  font-size: 3.5rem;
  margin-bottom: 15px;
}
nav .icons {
  display: flex;
  gap: 10px;
}
nav .icons button {
  background: none;
  border: none;
}

article {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  color: #7C6A0A;
  padding: 50px 30px;
}
article .impact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
article .impact-section h1 {
  align-self: flex-start;
  font-size: 3.8rem;
  margin-bottom: 15px;
}
article .impact-section p {
  font-size: 2.3rem;
  margin-bottom: 30px;
}
article .impact-section button {
  background: none;
  border: none;
}
article .impact-section button {
  width: 160px;
  padding: 20px;
  border-radius: 35px;
  background-color: #FA9500;
  color: white;
  font-size: 1.8rem;
}
article .impact-section button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
article .image-section {
  width: 100%;
}
article .image-section img {
  width: 100%;
  border-radius: 19px;
}

section {
  width: 100%;
  height: auto;
  padding: 60px 30px;
}
section h2 {
  color: #7C6A0A;
  font-size: 2.8rem;
  font-weight: 300;
  margin-bottom: 45px;
}
section .healthcare, section .furniture {
  margin-bottom: 60px;
}
section .healthcare .card-section, section .furniture .card-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 100px;
       column-gap: 100px;
  row-gap: 80px;
  width: auto;
  height: auto;
}
section .healthcare .product-card, section .furniture .product-card {
  width: 250px;
  height: 500px;
  padding: 20px;
  border-radius: 8px;
  background-color: #FFDAC6;
  color: #7C6A0A;
}
section .healthcare .product-card .icon, section .furniture .product-card .icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-bottom: 12px;
}
section .healthcare .product-card .product-image, section .furniture .product-card .product-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
section .healthcare .product-card .product-image img, section .furniture .product-card .product-image img {
  width: 100%;
  height: 299px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}
section .healthcare .product-card h3, section .furniture .product-card h3 {
  font-size: 2rem;
  margin-bottom: 0;
}
section .healthcare .product-card p, section .furniture .product-card p {
  font-size: 1.4rem;
  margin-top: 0;
}
section .furniture .product-card {
  background-color: #BABD8D;
  color: white;
}

.info-section {
  padding-top: 0;
}
.info-section .about-us {
  padding-bottom: 60px;
}
.info-section .about-us h2 {
  font-weight: bold;
  margin-bottom: 40px;
}
.info-section .about-us .mission-section {
  width: 100%;
  padding: 0 30px;
}
.info-section .about-us .mission-section .earth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-section .about-us .mission-section .earth img {
  width: 130px;
  height: 130px;
  margin: 15px;
  -o-object-fit: contain;
     object-fit: contain;
}
.info-section .about-us .mission-section .earth p {
  color: #FA9500;
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
}
.info-section .about-us .mission-section .innovation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-section .about-us .mission-section .innovation img {
  width: 130px;
  height: 130px;
  -o-object-fit: contain;
     object-fit: contain;
}
.info-section .about-us .mission-section .innovation p {
  color: #FA9500;
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
}

.gallery h2 {
  font-weight: bold;
  margin-bottom: 40px;
}
.gallery .gallery-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}
.gallery .gallery-images img {
  width: 300px;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
.gallery .gallery-images img:hover {
  transform: scale(1.1);
}

footer {
  background-color: #FA9500;
}

@media (min-width: 930px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  nav p {
    margin-bottom: 35px;
  }
  article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  article .impact-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 50%;
  }
  article .image-section {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 50%;
  }
  article .image-section img {
    width: 70%;
    border-radius: 19px;
  }
  .info-section .about-us .mission-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .info-section .about-us .mission-section .earth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .info-section .about-us .mission-section .innovation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=main.css.map */