$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$quatenary-color: #FA9500;
$primary-text-color: #7C6A0A;
$font-stack: 'IBM Plex Sans', sans-serif;

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  font-family: $font-stack;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  margin-bottom: 30px;
  padding: 0 20px;
  color: $primary-text-color;
  p {
    font-size: 3.5rem;
    margin-bottom: 15px;
  }
  .icons {
    display: flex;
    gap: 10px;
    button {
      background: none;
      border: none;
    }
  }
}

article {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  color: $primary-text-color;
  padding: 50px 30px;
  .impact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    h1 {
      align-self: flex-start;
      font-size: 3.8rem;
      margin-bottom: 15px;
    }
    p {
      font-size: 2.3rem;
      margin-bottom: 30px;
    }
    button {
      width: 160px;
      padding: 20px;
      border: none;
      border-radius: 35px;
      background-color: $quatenary-color;
      color: white;
      font-size: 1.8rem;
    }
  }
  .image-section {
    width: 100%;
    img {
      width: 100%;
      border-radius: 19px;
    }
  }
}

section {
  width: 100%;
  height: auto;
  padding: 60px 30px; 
  h2 {
    color: $primary-text-color;
    font-size: 2.8rem;
    font-weight: 300;
    margin-bottom: 45px;
  }
  .healthcare {
    margin-bottom: 60px;
    .card-section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 100px;
      row-gap: 80px;
      width: auto;
      height: auto;
    }
    .product-card {
      width: 250px;
      height: 500px;
      padding: 20px;
      border-radius: 8px;
      background-color: $secondary-color;
      color: $primary-text-color;
      .icon {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding-bottom: 12px;
      }
      .product-image {
        display: flex;
        justify-content: center;
        align-items: center ;
        width: 100%;
        height: auto;
        img {
          width: 100%;
          height: 299px;
          object-fit: cover;
          border-radius: 6px;
        }
      }
      h3 {
        font-size: 2rem;
        margin-bottom: 0;
      }
      p {
        font-size: 1.4rem;
        margin-top: 0;
      }
    }
  }
  .furniture {
    @extend .healthcare;
    .product-card {
      background-color: $tertiary-color;
      color: white;
    }
  }
}


footer {
  $background: #FA9500;
  background-color: $background;
}

@media (min-width: 930px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    p {
      margin-bottom: 35px;
    }
  }

  article {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    .impact-section {
      flex-direction: column;
      align-items: start;
      width: 50%;
    }
    .image-section {
      display: flex;
      justify-content: end;
      width: 50%;
      img {
        width: 70%;
        border-radius: 19px;
      }
    }
  }
}

